* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 15px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: white;
}

.more-button {
  color: white;
}

.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
}

.site-header {
  color: white;
  background-color: black;
}
.hero {
  background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(235,235,235,1) 56%, rgba(219,218,222,1) 71%, rgba(255,255,255,1) 100%);
}

.column {
  float:left;
  text-align: center;
  margin: 0 auto;
}
.col-3-layout .column {
  width: 33.33%;
}
.col-2-layout .column {
  width: 50%;
}

.section::after,
.col-2-layout::after,
.col-3-layout::after {
  content: "";
  clear: both;
  display: block;
}

.join-button:nth-child(2n+1) {
  color: white;
  background-color: white;
}

.pricing {
  background-color: rgb(235,235,235);
}

.contact,
.site-footer {
  background-color: white;
}
span {
  color: #32D9BD;
}

.send-button {
  background-color: #32D9BD;
}

.more-button {
  background-color: #32D9BD;
}

img {
  max-width: 100%;
}
#text2 {
  margin: 0 auto;
  padding: 10px;
}

/*
body {
  font-family: arial; sans-serif;
}

.site-header {
  background-color: #000;
  color: #fff;
  padding: 15px 0;
}
.site-header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
}
.site-menu li {
  display: inline-block;
}

.section-hero .column:nth-child(1) {
padding-right: 10px;
}

.section-hero .column:nth-child(2) {
padding-left: 10px;
}

.section-products {
  color: white;
  background-color: black;
  padding: 1em 0;
}
.section-products .column {
  padding-left: 10px;
  padding-right: 10px;
}
.section-products .col-3-layout {
  margin-left: -10px;
  margin-right: -10px;
} */

.site-footer .column:last-child,
.site-header .column:last-child {
  text-align: right;
}
